.bundle
.byebug_history
.cache
.docker/netrc.heroku
.DS_Store
.env.local
.nyc_output
.ruby-version
.sass-cache/*
.yarn-integrity
certs/rootCA*
config/master.key
coverage.data
coverage/*
frontend/.eslintcache
frontend/build
junit.xml
log/*
node_modules
public/assets/*
storage/
test/reports/*
tmp/*
vendor/bundle/*
yarn-*.log*
